# -*- coding:utf-8; indent-tabs-mode:nil -*-

[user]
	name = Tomohiro Takezawa
	email = ttakezawa@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[push]
	default = simple
[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
	df  = diff -w
	dfc = diff -w --cached
	clean-branch      = !echo '[Dry-run]' && git branch --merged | grep -Pv '^\\*|^\\s*master'
	clean-branch-exec = !                    git branch --merged | grep -Pv '^\\*|^\\s*master' | xargs git branch -d
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
