# -*- coding:utf-8; indent-tabs-mode:nil -*-

[user]
	name = Tomohiro Takezawa
	email = ttakezawa@users.noreply.github.com
	signingkey = ttakezawa@users.noreply.github.com
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	pager = emojify | diff-highlight | less -rX # gem install terminal-emojify
[color]
	ui = auto
[push]
	default = simple
[alias]
	# for completion
	ls-files = ls-files

	# shortcuts
	df  = diff -w
	dfc = diff -w --cached
	clean-branch      = !echo '[Dry-run]' && git branch --merged | grep -Pv '^\\*|^\\s*master'
	clean-branch-exec = !                    git branch --merged | grep -Pv '^\\*|^\\s*master' | xargs git branch -d
# [url "git@github.com:"]
# 	insteadOf = git://github.com/
# 	insteadOf = https://github.com/
[ghq]
	root = ~/dev/src
[grep]
	lineNumber = true
	patternType = perl
[merge]
	conflictstyle = diff3
